################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.hintrc
.vs/
.idea/
node_modules/ 