:root {
    --kt-red-50: #fef2f2;
    --kt-red-100: #ffe2e2;
    --kt-red-200: #ffcaca;
    --kt-red-300: #ffa3a3;
    --kt-red-400: #ff6568;
    --kt-red-500: #fb2c36;
    --kt-red-600: #e40014;
    --kt-red-700: #bf000f;
    --kt-red-800: #9f0712;
    --kt-red-900: #82181a;
    --kt-red-950: #460809;
    --kt-orange-50: #fff7ed;
    --kt-orange-100: #ffedd5;
    --kt-orange-200: #ffd7a8;
    --kt-orange-300: #ffb96d;
    --kt-orange-400: #ff8b1a;
    --kt-orange-500: #fe6e00;
    --kt-orange-600: #f05100;
    --kt-orange-700: #c53c00;
    --kt-orange-800: #9f2d00;
    --kt-orange-900: #7e2a0c;
    --kt-orange-950: #441306;
    --kt-amber-50: #fffbeb;
    --kt-amber-100: #fef3c6;
    --kt-amber-200: #fee685;
    --kt-amber-300: #ffd236;
    --kt-amber-400: #fcbb00;
    --kt-amber-500: #f99c00;
    --kt-amber-600: #dd7400;
    --kt-amber-700: #b75000;
    --kt-amber-800: #953d00;
    --kt-amber-900: #7b3306;
    --kt-amber-950: #461901;
    --kt-yellow-50: #fefce8;
    --kt-yellow-100: #fef9c2;
    --kt-yellow-200: #fff085;
    --kt-yellow-300: #ffe02a;
    --kt-yellow-400: #fac800;
    --kt-yellow-500: #edb200;
    --kt-yellow-600: #cd8900;
    --kt-yellow-700: #a36100;
    --kt-yellow-800: #874b00;
    --kt-yellow-900: #733e0a;
    --kt-yellow-950: #432004;
    --kt-lime-50: #f7fee7;
    --kt-lime-100: #ecfcca;
    --kt-lime-200: #d8f999;
    --kt-lime-300: #bbf451;
    --kt-lime-400: #9de500;
    --kt-lime-500: #80cd00;
    --kt-lime-600: #62a400;
    --kt-lime-700: #4b7d00;
    --kt-lime-800: #3d6300;
    --kt-lime-900: #35530e;
    --kt-lime-950: #192e03;
    --kt-green-50: #f0fdf4;
    --kt-green-100: #dcfce7;
    --kt-green-200: #b9f8cf;
    --kt-green-300: #7bf1a8;
    --kt-green-400: #05df72;
    --kt-green-500: #00c758;
    --kt-green-600: #00a544;
    --kt-green-700: #008138;
    --kt-green-800: #016630;
    --kt-green-900: #0d542b;
    --kt-green-950: #032e15;
    --kt-emerald-50: #ecfdf5;
    --kt-emerald-100: #d0fae5;
    --kt-emerald-200: #a4f4cf;
    --kt-emerald-300: #5ee9b5;
    --kt-emerald-400: #00d294;
    --kt-emerald-500: #00bb7f;
    --kt-emerald-600: #009767;
    --kt-emerald-700: #007956;
    --kt-emerald-800: #005f46;
    --kt-emerald-900: #004e3b;
    --kt-emerald-950: #002c22;
    --kt-teal-50: #f0fdfa;
    --kt-teal-100: #cbfbf1;
    --kt-teal-200: #96f7e4;
    --kt-teal-300: #46ecd5;
    --kt-teal-400: #00d3bd;
    --kt-teal-500: #00baa7;
    --kt-teal-600: #009588;
    --kt-teal-700: #00776e;
    --kt-teal-800: #005f5a;
    --kt-teal-900: #0b4f4a;
    --kt-teal-950: #022f2e;
    --kt-cyan-50: #ecfeff;
    --kt-cyan-100: #cefafe;
    --kt-cyan-200: #a2f4fd;
    --kt-cyan-300: #53eafd;
    --kt-cyan-400: #00d2ef;
    --kt-cyan-500: #00b7d7;
    --kt-cyan-600: #0092b5;
    --kt-cyan-700: #007492;
    --kt-cyan-800: #005f78;
    --kt-cyan-900: #104e64;
    --kt-cyan-950: #053345;
    --kt-sky-50: #f0f9ff;
    --kt-sky-100: #dff2fe;
    --kt-sky-200: #b8e6fe;
    --kt-sky-300: #77d4ff;
    --kt-sky-400: #00bcfe;
    --kt-sky-500: #00a5ef;
    --kt-sky-600: #0084cc;
    --kt-sky-700: #0069a4;
    --kt-sky-800: #005986;
    --kt-sky-900: #024a70;
    --kt-sky-950: #052f4a;
    --kt-blue-50: #eff6ff;
    --kt-blue-100: #dbeafe;
    --kt-blue-200: #bedbff;
    --kt-blue-300: #90c5ff;
    --kt-blue-400: #54a2ff;
    --kt-blue-500: #3080ff;
    --kt-blue-600: #155dfc;
    --kt-blue-700: #1447e6;
    --kt-blue-800: #193cb8;
    --kt-blue-900: #1c398e;
    --kt-blue-950: #162456;
    --kt-indigo-50: #eef2ff;
    --kt-indigo-100: #e0e7ff;
    --kt-indigo-200: #c7d2ff;
    --kt-indigo-300: #a4b3ff;
    --kt-indigo-400: #7d87ff;
    --kt-indigo-500: #625fff;
    --kt-indigo-600: #4f39f6;
    --kt-indigo-700: #432dd7;
    --kt-indigo-800: #372aac;
    --kt-indigo-900: #312c85;
    --kt-indigo-950: #1e1a4d;
    --kt-violet-50: #f5f3ff;
    --kt-violet-100: #ede9fe;
    --kt-violet-200: #ddd6ff;
    --kt-violet-300: #c4b4ff;
    --kt-violet-400: #a685ff;
    --kt-violet-500: #8d54ff;
    --kt-violet-600: #7f22fe;
    --kt-violet-700: #7008e7;
    --kt-violet-800: #5d0ec0;
    --kt-violet-900: #4d179a;
    --kt-violet-950: #2f0d68;
    --kt-purple-50: #faf5ff;
    --kt-purple-100: #f3e8ff;
    --kt-purple-200: #e9d5ff;
    --kt-purple-300: #d9b3ff;
    --kt-purple-400: #c07eff;
    --kt-purple-500: #ac4bff;
    --kt-purple-600: #9810fa;
    --kt-purple-700: #8200da;
    --kt-purple-800: #6e11b0;
    --kt-purple-900: #59168b;
    --kt-purple-950: #3c0366;
    --kt-fuchsia-50: #fdf4ff;
    --kt-fuchsia-100: #fae8ff;
    --kt-fuchsia-200: #f6cfff;
    --kt-fuchsia-300: #f2a9ff;
    --kt-fuchsia-400: #ec6cff;
    --kt-fuchsia-500: #e12afb;
    --kt-fuchsia-600: #c600db;
    --kt-fuchsia-700: #a600b5;
    --kt-fuchsia-800: #8a0194;
    --kt-fuchsia-900: #721378;
    --kt-fuchsia-950: #4b004f;
    --kt-pink-50: #fdf2f8;
    --kt-pink-100: #fce7f3;
    --kt-pink-200: #fccee8;
    --kt-pink-300: #fda5d5;
    --kt-pink-400: #fb64b6;
    --kt-pink-500: #f6339a;
    --kt-pink-600: #e30076;
    --kt-pink-700: #c4005c;
    --kt-pink-800: #a2004c;
    --kt-pink-900: #861043;
    --kt-pink-950: #510424;
    --kt-rose-50: #fff1f2;
    --kt-rose-100: #ffe4e6;
    --kt-rose-200: #ffccd3;
    --kt-rose-300: #ffa2ae;
    --kt-rose-400: #ff667f;
    --kt-rose-500: #ff2357;
    --kt-rose-600: #e70044;
    --kt-rose-700: #c20039;
    --kt-rose-800: #a30037;
    --kt-rose-900: #8b0836;
    --kt-rose-950: #4d0218;
    --kt-slate-50: #f8fafc;
    --kt-slate-100: #f1f5f9;
    --kt-slate-200: #e2e8f0;
    --kt-slate-300: #cad5e2;
    --kt-slate-400: #90a1b9;
    --kt-slate-500: #62748e;
    --kt-slate-600: #45556c;
    --kt-slate-700: #314158;
    --kt-slate-800: #1d293d;
    --kt-slate-900: #0f172b;
    --kt-slate-950: #020618;
    --kt-gray-50: #f9fafb;
    --kt-gray-100: #f3f4f6;
    --kt-gray-200: #e5e7eb;
    --kt-gray-300: #d1d5dc;
    --kt-gray-400: #99a1af;
    --kt-gray-500: #6a7282;
    --kt-gray-600: #4a5565;
    --kt-gray-700: #364153;
    --kt-gray-800: #1e2939;
    --kt-gray-900: #101828;
    --kt-gray-950: #030712;
    --kt-zinc-50: #fafafa;
    --kt-zinc-100: #f4f4f5;
    --kt-zinc-200: #e4e4e7;
    --kt-zinc-300: #d4d4d8;
    --kt-zinc-400: #9f9fa9;
    --kt-zinc-500: #71717b;
    --kt-zinc-600: #52525c;
    --kt-zinc-700: #3f3f46;
    --kt-zinc-800: #27272a;
    --kt-zinc-900: #18181b;
    --kt-zinc-950: #09090b;
    --kt-neutral-50: #fafafa;
    --kt-neutral-100: #f5f5f5;
    --kt-neutral-200: #e5e5e5;
    --kt-neutral-300: #d4d4d4;
    --kt-neutral-400: #a1a1a1;
    --kt-neutral-500: #737373;
    --kt-neutral-600: #525252;
    --kt-neutral-700: #404040;
    --kt-neutral-800: #262626;
    --kt-neutral-900: #171717;
    --kt-neutral-950: #0a0a0a;
    --kt-stone-50: #fafaf9;
    --kt-stone-100: #f5f5f4;
    --kt-stone-200: #e7e5e4;
    --kt-stone-300: #d6d3d1;
    --kt-stone-400: #a6a09b;
    --kt-stone-500: #79716b;
    --kt-stone-600: #57534d;
    --kt-stone-700: #44403b;
    --kt-stone-800: #292524;
    --kt-stone-900: #1c1917;
    --kt-stone-950: #0c0a09;
    --kt-mauve-50: #fafafa;
    --kt-mauve-100: #f3f1f3;
    --kt-mauve-200: #e7e4e7;
    --kt-mauve-300: #d7d0d7;
    --kt-mauve-400: #a89ea9;
    --kt-mauve-500: #79697b;
    --kt-mauve-600: #594c5b;
    --kt-mauve-700: #463947;
    --kt-mauve-800: #2a212c;
    --kt-mauve-900: #1d161e;
    --kt-mauve-950: #0c090c;
    --kt-olive-50: #fbfbf9;
    --kt-olive-100: #f4f4f0;
    --kt-olive-200: #e8e8e3;
    --kt-olive-300: #d8d8d0;
    --kt-olive-400: #abab9c;
    --kt-olive-500: #7c7c67;
    --kt-olive-600: #5b5b4b;
    --kt-olive-700: #474739;
    --kt-olive-800: #2b2b22;
    --kt-olive-900: #1d1d16;
    --kt-olive-950: #0c0c09;
    --kt-mist-50: #f9fbfb;
    --kt-mist-100: #f1f3f3;
    --kt-mist-200: #e3e7e8;
    --kt-mist-300: #d0d6d8;
    --kt-mist-400: #9ca8ab;
    --kt-mist-500: #67787c;
    --kt-mist-600: #4b585b;
    --kt-mist-700: #394447;
    --kt-mist-800: #22292b;
    --kt-mist-900: #161b1d;
    --kt-mist-950: #090b0c;
    --kt-taupe-50: #fbfaf9;
    --kt-taupe-100: #f3f1f1;
    --kt-taupe-200: #e8e4e3;
    --kt-taupe-300: #d8d2d0;
    --kt-taupe-400: #aba09c;
    --kt-taupe-500: #7c6d67;
    --kt-taupe-600: #5b4f4b;
    --kt-taupe-700: #473c39;
    --kt-taupe-800: #2b2422;
    --kt-taupe-900: #1d1816;
    --kt-taupe-950: #0c0a09;
}